<HTML>

<head>
  <title>Concussion Tracker</title>
  <link rel="stylesheet" type="text/css" href="css/css.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <link rel="stylesheet" href="SACT.css"></script>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <link rel="stylesheet" type="text/css" href="css/css.css">
</head>






<BODY>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">Concussion Tracker</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="../../question">First Time Questionnaire</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trackers <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="../../symptoms">Symptoms</a></li>
            <li><a href="../../sactracker">Alcohol & Caffeine</a></li>
            <li><a href="../../menstrualtracker">Menstrual Tracker</a></li>
          </ul>
        </li>
        <li><a href="../../allresults">Results</a></li>
      </ul>


      <ul class="nav navbar-nav navbar-right">
        <li><a href="/faq">FAQ</a></li>
        <li>
          <a href="/about"    >About</a>
          
        </li>
        <li><a href="../../settings">Settings</a></li>
	
      </ul>

      
    </div>
  </div>
</nav>



<div class="container-fluid text-center">    
  <div class="row content">
  <div class="row match-my-cols">
    <div class="col-sm-2 sidenav">
      
    </div>
    <div class="col-sm-8 text-left"> 
<br>
