<!doctype html>
<html>
<head>
    <title>About</title>
  	<% include partials/head %>

</head>

<body>
    	<% include partials/nav %>

<div class="container">
<div class="col-2"></div>
<div class="col-6">
<h2>
Concussion Tracker is a student-developed application designed to aid those recovering from concussions and their loved ones. We accomplish this through tracking, identifying, and resolving any concussion-related issues.
</h2>
<br>
<table>
	  <tr>
	    <td><h4>Coordinator:</h4></td>
	 </tr>
	 <tr>
	    <td>Justin Gohde<br><br></td>
	 </tr>
	 <tr>
	    <td><h4>Team Members:</h4></td>
	 </tr>
	<tr>
	   <td>Julian Anderson</td>
	</tr>
	<tr>
	    <td>Frederick Cunningham </td>
	 </tr>
	 <tr>
	    <td>Dennis Lin</td>
	 </tr>
	 <tr>
	    <td>Arjun Madan</td>
	 </tr>
	 <tr>
	    <td>Nicholas Mullikin</td>
	 </tr>
	 <tr>
	    <td>Eli Schiff</td>
	 </tr>
	 <tr>
	    <td>Jeffrey Shi</td>
	 </tr>
	 <tr>
	    <td>Ben Steinberg</td>
	 </tr>
	 <tr>
	    <td>Bennet Varrichione</td>
	 </tr>
	 <tr>
	    <td>Nick Vonk</td>
	 </tr>
	 <tr>
	    <td>Yujin Yamahara</td>
	 </tr>
</table>
</div>
<div class="col-2"></div>
</div>
</body>
</head>
</html>
