<!DOCTYPE HTML>
<HTML>
	<HEAD>
		<TITLE>About</TITLE>
	 	<% include partials/head %>

	</HEAD>
	<BODY>
<% include partials/nav %>
We are a group of Trinity developers: <BR>
Julian Anderson<BR>
Arjun Madan (gone)<BR>
Nicholas Mullikin<BR>
Jeffrey Shi<BR>
Nicolas Vonk<BR>
<BR>
This is our app.<BR>
</BODY>
</HTML>
