<!doctype html>
<html>
<head>
    <title>About</title>
  	<% include partials/head %>

</head>

<body>
    	<% include partials/nav %>

We are a group of Trinity developers: <BR>
Julian Anderson<BR>
Arjun Madan (gone)<BR>
Nicholas Mullikin<BR>
Jeffrey Shi<BR>
Nicolas Vonk<BR>
<BR>
This is our app.<BR>
</body>
</head>
</html>
