<!doctype html>
<html>
<head>
    <title>Concussion History</title>
  	<% include partials/head %>

</head>

<body>
    	<% include partials/nav %>
    <div id="container"> </div>
    <script src="CH/js/script.js">
    </script>
</body>
</html>