<html>

<head>
    <title>
        <%= data[0].title %>
    </title>
    <link href="/CH/css/style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <button id="viewSavedAnswers">View Saved Answers</button>
    <!-- Title, Description begin -->
    <h1><%= data[0].title %></h1>
    <h2><%= data[0].desc %></h2>
    <!-- Title, Description end -->
    <form id="container"> </form>
    <%
        var container = document.getElementById("container");
        for (var i = 0; i < data[0]["questions"]; i++) {
            var question = document.createElement('h3');
            question.innerHTML = data[0]["questions"][i].question;
            container.appendChild(question);
            console.log("sdf");
        }
    %>
    <script src="/CH/js/script.js"></script>
</body>

</html>