<HTML>
	<HEAD lang="en">
	  <TITLE>FAQ</TITLE>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</HEAD>
	<BODY>
	<% include partials/head %>
		<div class = "container">
		<div class="jumbotron text-center">
			<h1>Frequently Asked Questions</h1>
		</div>
		<div class = "containter" >
		<div class = "col-md-100">
          <% for(var i =0; i < data.length; i++){ %>
		    <H2> <%= data[i].question %></H2>
			<div><%= data[i].answer %> </div>
		  <% } %>
        </div>
		</div>
		</div>
		<script src="RA/js/scripts.js"></script>
		
	</BODY>
</HTML>