<!DOCTYPE html>
<html>
<head>
    <title>FTQ_Results</title>
    <% include partials/head %>
    <script src= "/js/script2.js"></script>
    <link rel="stylesheet" type="text/css" href="/results/css/style.css">
</head>

<body>
        <% include partials/nav %>
        <div id='dashboard'></div>
        <h1>Initial Questionaire Answers</h1>
        <ol id=questions>
        	<%for(i=0;i<2;i++){%>
        		<%for(j=0;j<dataCH.form[i].questions[].length;j++){%>
  				<li id=<%=dataCH.form[i].questions[j].id%>>
  					<p><%=dataCH.form[i].questions[j].question%>: no answer</p>
  				</li>
        	<%}%>
        </ol>


</body>
</html>
