<!DOCTYPE html>
<html>
<head>
    <title>FTQ_Results</title>
    <% include partials/head %>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src= "/js/script2.js"></script>
    <link rel="stylesheet" type="text/css" href="/results/css/style.css">
</head>

<body>
        <% include partials/nav %>
        <div id='dashboard'></div>
        
        
        	<%for(i=0;i<2;i++){%>
        	<h1><%=dataCH.form[i].title%></h1>
        	<ol class=questions id=<%=dataCH.form[i].title%>>
        	
        		<%for(j=0;j<dataCH.form[i].questions.length;j++){%>
  				<li id=<%=dataCH.form[i].questions[j].id%>>
  					<p class=question><%=dataCH.form[i].questions[j].question%></p><ul class=answer>null</ul>
  				</li>
  				<%}%>
  			</ol>
        	<%}%>
        


</body>
</html>
