<!DOCTYPE html>
<html>
<head>
    <title>Results</title>
    <% include partials/head %>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src= "/js/script2.js"></script>
    <link rel="stylesheet" type="text/css" href="/results/css/style.css">
</head>

<body>
        <% include partials/nav %>
        <div id='dashboard'></div>

</body>
</html>
