<!doctype html>
<html>
<head>
    <title></title>
    <% include partials/head %>

</head>

<body>
      <% include partials/nav %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      	<!-- <div class="col-md-4 text-center"> -->
	        <h1> Welcome to Concussion Tracker!</h1>
	        <% if(1===1){ %>
	        	<p> It looks like it's your first time visiting! To start, please fill out the initial questionnaire below. </p>
	       	<% } else{ %>
	       	<% } %>
	        <button class="btn btn-primary" onclick="window.location.href='/question'">Start Initial Questionnaire</button>
       <!--  </div> -->
      </div>
    </div>


</body>
</head>
</html>
