<html>
	<HEAD>
	  <TITLE>Home</TITLE>
	 	<% include partials/head %>

	</HEAD>
	<body>    
	<% include partials/nav %>
        <button onclick="window.location.href='/question'">Start Quiz</button>
	</body>
</html>