<!doctype html>
<html>

<head>
    <title>Menstrual Tracker
    </title>
    <% include partials/head %>

</head>

<body>
    <% include partials/nav %>
        <div id="container">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p id="versionnumber" hidden>
                <%=data.version%>
            </p>
            <button class="action back btn btn-info">Back</button>
            <button class="action next btn btn-info">Next</button>
            <button class="action submit btn btn-success" id="submit">Submit</button>

        </div>
        <script src="/MT/js/script.js">


        </script>
</body>

</html>
