<!DOCTYPE HTML>
<html>

<head>
    <title>Account Settings</title>
    <% include partials/head %>
        <script>
            var app = angular.module('myApp', []);
            var strDate = JSON.parse(localStorage.init)[0].answers[2].answer;
            var dateParts = strDate.split("-");
            var date = dateParts[1] + "/" + dateParts[2] + "/" + dateParts[0];
            var gender;
            console.log(JSON.parse(localStorage.init)[0].answers[3].answer);
            if (JSON.parse(localStorage.init)[0].answers[3].answer) {
                gender = "Male";
            }
            if (JSON.parse(localStorage.init)[0].answers[4].answer) {
                gender = "Female";
            }
            if (JSON.parse(localStorage.init)[0].answers[5].answer) {
                gender = JSON.parse(localStorage.init)[0].answers[6].answer;
            }
            app.controller('myCtrl', function($scope, $sce) {
                $scope.name = $sce.trustAsHtml(JSON.parse(localStorage.init)[0].answers[0].answer + " " + JSON.parse(localStorage.init)[0].answers[1].answer);
                $scope.birthday = $sce.trustAsHtml(date);
                $scope.gender = $sce.trustAsHtml(gender);
                $scope.email = $sce.trustAsHtml(JSON.parse(localStorage.init)[0].answers[7].answer);
                $scope.parentname = $sce.trustAsHtml(JSON.parse(localStorage.init)[0].answers[8].answer + " " + JSON.parse(localStorage.init)[0].answers[9].answer);
                $scope.parentemail = $sce.trustAsHtml(JSON.parse(localStorage.init)[0].answers[10].answer);
            });

        </script>
</head>

<body>
    <% include partials/nav %>
        <div class="container">
            <div class="jumbotron text-center">
                <h1>Account Settings</h1>
            </div>
            <!--Bennet's Buttons for RTP-->
            <label id="eRTP">
  			<input type="checkbox" data-toggle="toggle" id="eRTPbutton"> 
		</label>
            <div id="eRTPText">Enable Return to Play</div>
            <BR>
            <label id="eTestMode">
  			<input type="checkbox" id="eTestModeButton" data-toggle="toggle"> Enable Test Mode
		</label>
            <h3>Test mode disables the requirement for 24 hours to elapse between tracking symptoms. Use this mode if you want to test the Return to Play protocol.</h3>
            <!--end Bennet's buttons for RTP-->


            <div class="col-md-12" ng-app="myApp" ng-controller="myCtrl">
                <div class="panel panel-default">
                    <div role="button" class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#name" aria-expanded="false" aria-controls="name" role="tab">
                        <h4 class="panel-title">
                            <table width="50%">
                                <col width="50%">
                                <col width="50%">
                                <tr>
                                    <td><strong>Name</strong></td>
                                    <td ng-bind-html="name"></td>
                                </tr>
                            </table>
                        </h4>
                    </div>
                    <div id="name" class="panel-collapse collapse" role="tabpanel" aria-expanded="false" aria-labelledby="name" hide=t rue>
                        <div class="panel-body">
                            <ul class="dl-horizontal">
                                <form>
                                    <div class="form-group col-xs-6">
                                        <label for="localCopy[0].answers[0].answer" class="sr-only"></label>
                                        <input id="localCopy[0].answers[0].answer" class="form-control input-group-lg reg_name" type="text" name="firstname" title="Enter first name" placeholder="First name" /> </div>
                                    <div class="form-group col-xs-6">
                                        <label for="localCopy[0].answers[1].answer" class="sr-only"></label>
                                        <input id="localCopy[0].answers[1].answer" class="form-control input-group-lg reg_name" type="text" name="lastname" title="Enter last name" placeholder="Last name" /> </div>
                                    <button type="submit" class="btn btn-primary update" data-toggle="collapse" data-parent="#accordion" href="#name" aria-expanded="false" aria-controls="name">Submit</button>
                                </form>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div role="button" class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#birthday" aria-expanded="false" aria-controls="birthday" role="tab">
                        <h4 class="panel-title">
                            <table width="50%">
                                <col width="50%">
                                <col width="50%">
                                <tr>
                                    <td><strong>Birthday</strong></td>
                                    <td ng-bind-html="birthday"></td>
                                </tr>
                            </table>
                        </h4>
                    </div>
                    <div id="birthday" class="panel-collapse collapse" role="tabpanel" aria-expanded="false" aria-labelledby="birthday" hide=t rue>
                        <div class="panel-body">
                            <form>
                                <div class="form-group col-xs-12">
                                    <label for="localCopy[0].answers[2].answer" class="sr-only"></label>
                                    <input id="localCopy[0].answers[2].answer" class="form-control input-group-lg reg_name" type="date" name="email" title="Enter birthday" /> </div>
                                <button type="submit" class="btn btn-primary update" data-toggle="collapse" data-parent="#accordion" href="#name" aria-expanded="false" aria-controls="name">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div role="button" class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#gender" aria-expanded="false" aria-controls="gender" role="tab">
                        <h4 class="panel-title">

                            <table width="50%">
                                <col width="50%">
                                <col width="50%">
                                <tr>
                                    <td><strong>Gender</strong></td>
                                    <td ng-bind-html="gender"></td>
                                </tr>
                            </table>
                        </h4>
                    </div>
                    <div id="gender" class="panel-collapse collapse" role="tabpanel" aria-expanded="false" aria-labelledby="gender" hide=t rue>
                        <div class="panel-body">
                            <form>
                                <input id="localCopy[0].answers[3].answer" type="checkbox" name="Male" />
                                <label for="localCopy[0].answers[3].answer">Male</label>
                                <br>
                                <input id="localCopy[0].answers[4].answer" type="checkbox" name="Female" />
                                <label for="localCopy[0].answers[4].answer">Female</label>
                                <br>
                                <input id="localCopy[0].answers[5].answer" type="checkbox" name="Other" />
                                <label for="localCopy[0].answers[5].answer">Other</label>
                                <input id="localCopy[0].answers[6].answer" type="text" name="Other" />
                                <br>
                                <button type="submit" class="btn btn-primary update" data-toggle="collapse" data-parent="#accordion" href="#gender" aria-expanded="false" aria-controls="name">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div role="button" class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#email" aria-expanded="false" aria-controls="email" role="tab">
                        <h4 class="panel-title">

                            <table width="50%">
                                <col width="50%">
                                <col width="50%">
                                <tr>
                                    <td><strong>Email</strong></td>
                                    <td ng-bind-html="email"></td>
                                </tr>
                            </table>
                        </h4>
                    </div>
                    <div id="email" class="panel-collapse collapse" role="tabpanel" aria-expanded="false" aria-labelledby="email" hide=t rue>
                        <div class="panel-body">
                            <form>
                                <div class="form-group col-xs-12">
                                    <label for="localCopy[0].answers[7].answer" class="sr-only"></label>
                                    <input id="localCopy[0].answers[7].answer" class="form-control input-group-lg reg_name" type="text" name="email" title="Enter email" placeholder="johnsmith@example.com" /> </div>
                                <button type="submit" class="btn btn-primary update" data-toggle="collapse" data-parent="#accordion" href="#name" aria-expanded="false" aria-controls="name">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div role="button" class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#parentname" aria-expanded="false" aria-controls="parentname" role="tab">
                        <h4 class="panel-title">
                            <table width="50%">
                                <col width="50%">
                                <col width="50%">
                                <tr>
                                    <td><strong>Parent Name</strong></td>
                                    <td ng-bind-html="parentname"></td>
                                </tr>
                            </table>
                        </h4>
                    </div>
                    <div id="parentname" class="panel-collapse collapse" role="tabpanel" aria-expanded="false" aria-labelledby="parentname" hide=t rue>
                        <div class="panel-body">
                            <ul class="dl-horizontal">
                                <form>
                                    <div class="form-group col-xs-6">
                                        <label for="localCopy[0].answers[8].answer" class="sr-only"></label>
                                        <input id="localCopy[0].answers[8].answer" class="form-control input-group-lg reg_name" type="text" name="parentfirstname" title="Enter first name" placeholder="First name" /> </div>
                                    <div class="form-group col-xs-6">
                                        <label for="localCopy[0].answers[9].answer" class="sr-only"></label>
                                        <input id="localCopy[0].answers[9].answer" class="form-control input-group-lg reg_name" type="text" name="parentlastname" title="Enter last name" placeholder="Last name" /> </div>
                                    <button type="submit" class="btn btn-primary update" data-toggle="collapse" data-parent="#accordion" href="#name" aria-expanded="false" aria-controls="name">Submit</button>
                                </form>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div role="button" class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#parentemail" aria-expanded="false" aria-controls="parentemail" role="tab">
                        <h4 class="panel-title">

                            <table width="50%">
                                <col width="50%">
                                <col width="50%">
                                <tr>
                                    <td><strong>Parent Email</strong></td>
                                    <td ng-bind-html="parentemail"></td>
                                </tr>
                            </table>
                        </h4>
                    </div>
                    <div id="parentemail" class="panel-collapse collapse" role="tabpanel" aria-expanded="false" aria-labelledby="email" hide=t rue>
                        <div class="panel-body">
                            <ul class="dl-horizontal">
                                <form>
                                    <div class="form-group col-xs-12">
                                        <label for="localCopy[0].answers[10].answer" class="sr-only"></label>
                                        <input id="localCopy[0].answers[10].answer" class="form-control input-group-lg reg_name" type="text" name="parentemail" title="Enter email" placeholder="johnsmith@example.com" /> </div>
                                    <button type="submit" class="btn btn-primary update" data-toggle="collapse" data-parent="#accordion" href="#name" aria-expanded="false" aria-controls="name">Submit</button>
                                </form>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.querySelectorAll('.update').forEach(function(button) {
                button.onclick = function() {
                    var localCopy = JSON.parse(localStorage.init);
                    button.parentNode.querySelectorAll('input').forEach(function(input) {
                        if (document.getElementById(input.id).type != "checkbox") {
                            console.log("SDF");
                            eval(input.id + " = '" + input.value + "'");
                        } else {
                            eval(input.id + " = " + input.checked);
                        }
                        localStorage.init = JSON.stringify(localCopy);
                        location.reload();
                    });
                }
            });

        </script>
        <script src="settings.js"></script>
</body>

</html>
