<html>
	<head>
		<title><%= data[0].title %></title>
		<link href="/CH/css/style.css" rel="stylesheet" type="text/css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	</head>
	<body>    
        <h1>PUT SYMPTOMS PAGE HERE</h1>
	</body>
</html>