/* On small screens, set height to 'auto' for sidenav and grid */

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

.option {
    display: block;
    font-size: 16px;
    font-weight: 400;
}

label {
    font-weight: 400 !important
}

input[type='checkbox'] {
    margin-right: 5px;
}

input[type='radio'] {
    margin-right: 5px;
}

.option.level0 {
    margin-left: 40px;
}

.option.level1 {
    margin-left: 40px;
}

.option.level2 {
    margin-left: 40px;
}

.option.level3 {
    margin-left: 40px;
}

.subform {
    display: none;
}

#container {
    margin: 40px auto;
    max-width: 800px;
    line-height: 1.6;
    font-size: 18px;
    color: #DDD;
    padding: 0 10px
}
