.option {
    display: block;
    font-size: 16px;
    font-weight: 400;
}
label {font-weight: 400 !important}


.option.level0 {
    margin-left: 40px;
}
.option.level1 {
    margin-left: 40px;
}
.option.level2 {
    margin-left: 40px;
}
.option.level3 {
    margin-left: 40px; 
}
.subform {
    display: none;
}